@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=Mochiy+Pop+P+One&family=Outfit:wght@200;700&family=Work+Sans:ital,wght@0,100;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=Fira+Mono&family=Fredoka:wght@300;400&family=Mochiy+Pop+P+One&family=Outfit:wght@200;700&family=Work+Sans:ital,wght@0,100;0,600;1,600&display=swap');
.body
{
    background-color: #F3F3F3;
    overflow-y: hidden;
    overflow-x: hidden;
}
html
  {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  } 
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
nav {
    position: relative;
    top: 2vh;
    overflow: hidden;
    margin-right: 5vw;
    z-index: 99;
}

nav a {
    float: right;
    display: block;
    color: rgb(0, 0, 0,1);
    text-align: center;
    padding: 0.1vmin 5vmin;
    text-decoration: none;
    border-right: 1px solid rgb(0, 0, 0,0.5);
    font-size: 2.5vmin;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    z-index: 99;
}
nav a:nth-child(2)
{
    border: none;
}
nav a:first-child {
    float: left;
    border-right: none; 
    font-size: 3vmin;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: black;
}
nav a:first-child::before {
    content: "";
    display: block;
    width: 3vmin;
    height: 3vmin;
    background-color: #EEA302;
    border-radius: 50%;
    position: absolute;
    left: 0.5vw; /* Adjust as needed */
    top: 2vh;
    transform: translateY(-50%);
}
.homepagecontainer {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

.rounded-image {
    border-radius: 50%;
    width: 60vmin; 
    object-fit: cover; 
    position: relative;
    top: 18vh;
    left: 20vw;
    display: inline-block;
    opacity: 0;
    border: 2px solid rgba(0, 0, 0, 0.77);
    transition: opacity 3s ease-out, transform 3s ease-out;
    animation: fadeInUp 1.5s ease-out 0.1s forwards;
}
.textcontainer {
    position: relative;
    display: inline-block;
    top: 13vh;
    left: 22vw;
    width: 25vw;
}

.textcontainer .container-heading {
    position: relative;
    top: 0vh;
    left: 0vw;
    font-size: 15vmin;
    font-family: 'Work Sans', sans-serif;
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    animation: fadeInUp 1.5s ease-out 0.5s forwards;
    white-space: nowrap;
}
.textcontainer .container-heading1 {
    position: relative;
    top: -10vh;
    left: 0vw;
    font-size: 3vmin;
    font-family: 'Work Sans', sans-serif;
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    animation: fadeInUp 1.5s ease-out 1s forwards;
}
.textcontainer .container-paragraph
{
    position: relative;
    top: -10vh;
    left: 0vw;
    font-size: 3vmin;
    font-family: 'Fredoka', sans-serif;
    text-align: justify;
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    animation: fadeInUp 1.5s ease-out 1.5s forwards;
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 30%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
.border1 {
    position: relative;
    top: 20vh;
    left: 5vw;
    width: 90vw;
    height: 0.1vh;
    background-color: rgba(11, 11, 11, 0.679);
    z-index: 1;
    margin-bottom: 10vh;
  }
  .contact-headings {
    
    display: flex;
   justify-content: space-between;
    width: 90vw;
    position: relative;
    top: 10vh;
    left: 5vw;
}

.contact-heading {
    font-size: 3vmin;
    font-family: 'Work Sans', sans-serif;
}
.contact-info {
   font-size: 3vmin;
   font-family: 'Fredoka', sans-serif;
}
.follow-icons {
    display: flex;
    align-items: center;
}
.follow-icon {
    width: 3vmin;
    margin-right: 2vmin;
}
@media (max-width: 1025px)
{
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0; 
    }

    nav a {
        border-right: none;
        float: none;
        width: 100%;
        box-sizing: border-box;
    }

    nav a:first-child::before {
        left: 5%;
        top: 50%;
    }
}
@media (max-width: 885px ) 
{
    nav a:first-child::before {
        position: absolute;
        left: 0.5vw; 
        top: 1vh;
    }
    .textcontainer
    {
        display: block;
        position: absolute;
        top: 10vh;
        left: 10vw;
        width: 80vw;
    }
    .textcontainer .container-heading1 {
        position: relative;
        top: -5vh;
    }
    .textcontainer .container-paragraph
    {
    position: relative;
    top: -5vh;
    }
    .rounded-image
    {
        position: absolute;
        top: 55vh;
    }
    .border1
    {
        top: 110vh;
    }
    .contact-headings
    {
        position: absolute;
        justify-content: space-evenly;
        top: 115vh;
    }
}
@media (max-width: 500px)
{
    nav a:first-child::before {
        position: absolute;
        left: 0.5vw; 
        top: 1vh;
    }
    .textcontainer
    {
        display: block;
        position: absolute;
        top: 10vh;
        left: 10vw;
        width: 80vw;
    }
    .textcontainer .container-heading1 {
        position: relative;
        top: -5vh;
    }
    .textcontainer .container-paragraph
    {
    position: relative;
    top: -5vh;
    }
    .rounded-image
    {
        position: absolute;
        top: 50vh;
    }
    .contact-headings
    {
        justify-content: space-evenly;
    }
}
