@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=Mochiy+Pop+P+One&family=Outfit:wght@200;700&family=Work+Sans:ital,wght@0,100;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=Fira+Mono&family=Fredoka:wght@300;400&family=Mochiy+Pop+P+One&family=Outfit:wght@200;700&family=Work+Sans:ital,wght@0,100;0,600;1,600&display=swap');
.body
{
    background-color: #F3F3F3;
    overflow-y: hidden;
    overflow-x: hidden;
}
html
  {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  } 
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
nav {
    position: relative;
    top: 2vh;
    overflow: hidden;
    margin-right: 5vw;
}

nav a {
    float: right;
    display: block;
    color: rgb(0, 0, 0,1);
    text-align: center;
    padding: 0.1vmin 5vmin;
    text-decoration: none;
    border-right: 1px solid rgb(0, 0, 0,0.5);
    font-size: 2.5vmin;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    z-index: 99;
}
nav a:nth-child(2)
{
    border: none;
}
nav a:first-child {
    float: left;
    border-right: none; 
    font-size: 3vmin;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: black;
}
nav a:first-child::before {
    content: "";
    display: block;
    width: 3vmin;
    height: 3vmin;
    background-color: #EEA302;
    border-radius: 50%;
    position: absolute;
    left: 0.5vw; /* Adjust as needed */
    top: 2vh;
    transform: translateY(-50%);
}
.technicalskillscontainer {
    position: absolute;
    top: 10vh;
    left: 5vw;
}
.technicalskillscontainer h1{
    position: relative;
    top: 0vh;
    left: 0vw;
    font-size: 6vmin;
    font-family: 'Work Sans', sans-serif;
}
.technicalskillscontainer h2{
    position: relative;
    top: 0vh;
    left: 0vw;
    font-size: 5vmin;
    width: 40vw;
    font-family: 'Work Sans', sans-serif;
}
.technicalskillscontainer h3{
    position: relative;
    top: 0vh;
    left: 0vw;
    font-size: 3vmin;
    width: 90vw;
    font-family: 'Work Sans', sans-serif;
}
.technicalskillscontainer p{
    position: relative;
    top: 0vh;
    left: 0vw;
    font-size: 3vmin;
    width: 90vw;
    font-family: 'Fredoka', sans-serif;

    text-align: justify;
}
.border1 {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 90vw;
    height: 0.1vh;
    background-color: rgba(11, 11, 11, 0.679);
    z-index: 1;
    margin-bottom: 10vh;
  }
  .technicalskillscontainer .contact-headings {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0vh;
    left: 0vw;

}

.technicalskillscontainer .contact-heading {
    font-size: 3vmin;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
}
.technicalskillscontainer .contact-info {
   font-size: 2.5vmin;
   font-family: 'Fredoka', sans-serif;
   width: 18vw;
}
.follow-icons {
    display: flex;
    align-items: center;
}
.follow-icon {
    width: 3vmin;
    margin-right: 2vmin;
}
.technicalskillscontainer .copyright
{
    top: -3vh;
    text-align: center;
    justify-content: center;
    width: 90vw;
}
@media (max-width: 1025px)
{
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0; 
    }

    nav a {
        border-right: none;
        float: none;
        width: 100%;
        box-sizing: border-box;
    }

    nav a:first-child::before {
        left: 5%;
        top: 50%;
    }
    .technicalskillscontainer p{
        width: 90vw;
    }
    .contact-heading
    {
        width: 18vw;
    }
}
@media (max-width: 885px ) 
{
    nav a:first-child::before {
        position: absolute;
        left: 0.5vw; 
        top: 1vh;
    }
}
